/* Login */
#login-body {
    background-image: url("../img/bg/filmaffinity_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#login-bg-image {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.login-container{
    padding-top: 5%;
    padding-bottom: 5%;
}

.login-container .row{
    justify-content: center;
}

.form-group{
    margin-top: 15px;
    margin-bottom: 15px;
}

#link-group, #button-group {
    text-align: center;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: #FFF;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
/* Login */

/* Main */

.filmContainer {
    width: 100%;
    padding: 40px;
}

.filmContainer .film {
    border: 1px solid #0062cc;
    height: 500px;
    min-height: 250px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

.filmContainer .bg_action_film{
    
}

.filmContainer .action_film button{
    border-radius: 40px;
}

.filmContainer .films_film {
    position: relative;
    border: 1px solid #0062cc;
    height: 500px;
    min-height: 250px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

.filmContainer .films_film .bg_action_film {
    background-image: url("../img/no_image_available_filmaffinity.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.filmContainer .films_film .film_actions_delete_update {
    display: none;
    position: absolute;
}

.filmContainer .films_film .film_actions_delete_update .button_action_group {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filmContainer .films_film .film_actions_delete_update .button_action_group button {
    margin-left: 15px;
    margin-right: 15px;
}

.filmContainer .films_film .film_actions_delete_update .button_action_group form {
    margin-bottom: 0;
}

.filmContainer .films_film:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.filmContainer .films_film:hover .film_actions_delete_update{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.filmContainer .films_film .delete_action_button input{
    position: relative;
}

.filmContainer .films_film .delete_action_button svg{
    position: absolute;
}

/* Main */